# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/
.env

# Poetry
poetry.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Docker
.docker/
docker-compose.override.yml

# Logs
logs/
*.log

# Databases
*.sqlite
*.sqlite3
*.db

# MT5 backtest files
*.hst
*.fxt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Package specific
.ollama/
.models/

# Other
temp/
.tmp/
tmp/
.history/ 